body {
  background-color: #DDDDD2;
  margin: 30px 10%;
  border: double #C0C1B7;
}

.content-container {
  padding: 15px;
  padding-top: 5px;
  border: solid 10px #C0C1B7;
}

.nav-container {
  background-color: #CFCFC3;
  border-bottom: outset 10px #CBDBF3;

}

img.nav-icon {
  position: float;
  height: 24px;
  width: 24px;
  border-left: solid 5px #C0C1B7;
  padding: 0 5px;
}

.banner-container {
  background-color: #C0C1B7;
  border: solid 2px;
  display: flex;
}

.banner-txt {
  padding: 5px 15px;
  font-size: 30px;
  font-family: times new roman;
  font-weight: bolder;
  display: block;
  margin: auto;
}

img.banner {
  width: 35%;
  height: auto;
}

#firstnav {
  border-left: inset 10px #F7F3E7;
}

p {
  font-family: times new roman;
  padding-right: 15%;

}

hr.solid {
  border-top: 3px solid #C0C1B7;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.boxlinks{
  display: flex;
  border: 0;
}

p.boxlinks{
  font-size: 20px;
  border: 5px solid #CFCFC3;
  margin: 20px;
  padding-right: 0;
  width: 100%;
}

.photos{
  width: 30%;
  padding: 3.3%;
}
