{% extends from "base.html" %}
{% block content %}

<p>Here you will find a casual overview of who I am. If you are interested in my programming projects, <a href="">here is my Github.</a></p>





<h2>Languages and Applications</h2>
<ul><li>Python</li>
  <li>HTML/CSS</li>
  <li>GIT, Github</li>
  <li>ATOM</li>
  <li>Microsoft Word, Excel</li>
  <li>Adobe Acrobat</li>
</ul>

<h2>My Interests</h2>
<ul><li>Music and Instruments</li>
  <p>I was clasically trained in clarinet and piano, meaning sheet music, metronomes, scales and etudes, perfecting articulation, and so forth. Later on, I taught myself to play some guitar. I mostly play fingerstyle on the acoustic, though I have a ukulele I strum sometimes. I listen to any rock or metal with rocking instrumentals.</p>
  <li>Sports</li>
  <p> I played volleyball recreationally in university and was vice-captain of my co-ed volleyball team. I also taught myself weightlifting and followed a regular routine. I did a lot of research and picked up some knowledge on kinesiology, too!</p>
  <li>Video Games</li>
  <p>I enjoy playing Role Playing Games(RPG) video games with others online. We often engage in party play where we need to work together and communicate, sometimes against other players in guild sieges, free-for-all boss hunting, and in instanced dungeons. </p>
  <p>In some RPG games with more complex skill and ability systems, I do some theorycrafting on my own or with others. We plan out and test effective builds for our characters, sometimes using simulator tools to calculate accurate stat points. I follow a similar process in sandbox games to optimize and automate farming of desirable items, typically by manipulating game mechanics and AI.</p>
  <li>Coding</li>
  <p>I have taken great interest in programming this past year since realizing that its applications are endless. Its utility stretches to my other hobbies and beyond. At times it does seem overwhelming how many languages and different uses there are, but this feeds into the feeling of wanting to know how all the once-unnoticed technology everywhere around me works -- and how I can make it work better for my purposes.</p>
</ul>


{% endblock %}
