<!doctype HTML>
<html>
    <meta charset="utf-8"></meta>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>My Website</title>
    </head>
    <body class="content-container">
      <header class="banner-container">
        <img class="banner" src={{ url_for('static', filename='images/daydreamer.jpg') }}>
        <div class="banner-txt"> HELLO AND WELCOME !</div>
      </header>
      <div #firstnav class="nav-container">
        <a href="/"><img class="nav-icon" src={{ url_for('static', filename='images/house.bmp')}}></a>
        <a href="/photos/"><img class="nav-icon" src={{ url_for('static', filename='images/floweremblem.bmp')}}></a>
        <img class="nav-icon" src="" alt="">
        <img class="nav-icon" src={{ url_for('static', filename='images/tacocat.bmp')}}>
      </div>
      {% block content %}
      {% endblock %}

      <div class="bottom-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    </body>

</html>
