{% extends base.html %}

{% block content %}
<p class="banner-txt">DO YOU LIKE FLOWERS?</p>
<p>I used to frequent the botanical gardens of Central Park when I still lived in NYC. I took a lot of pictures of the plants, mostly the flowers. There were a lot. I hope you enjoy them, too.</p>

<div class= >
  <table class="photos">
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

{% endblock %}
